services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - qbittorrent_data:/config
      - qbittorrent_download:/downloads #optional
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped

volumes:
  qbittorrent_data:
    name: qbittorrent
    driver: local
    driver_opts:
      type: none
      o: bind
      device: $DOCKER_VOLUMES/qbittorrent/data
  qbittorrent_download:
    name: qbittorrent
    driver: local
    driver_opts:
      type: none
      o: bind
      device: $DOCKER_VOLUMES/qbittorrent/download
