services:
  stirling-pdf:
    image: stirlingtools/stirling-pdf:latest
    container_name: stirling-pdf
    ports:
      - '8090:8080'
    volumes:
      - $HOME/dockercompose/stirling-data:/configs
    restart: unless-stopped
